<div class="login-page">
  <!-- Left Section -->
  <div class="login-left">
    <img src="assets/images/file.png" alt="Locker Icon" />
    <h1>Welcome To SFSS</h1>
    <p>Just a couple of clicks and we start</p>
  </div>

  <!-- Right Section -->
  <div class="login-form-container">
    <h2>Sign In</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Email or Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          placeholder="Enter email or username"
        />
      </div>
      

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter password"
        />
      </div>

      <button type="submit" class="cta-button">Sign In</button>
    </form>
    <button class="register-button" routerLink="/register">Don’t have an account? Sign Up</button>
    <p>
      <a routerLink="/forgot-password">Forgot Password?</a>
    </p>
    
  </div>

 
</div>
